body {
  background-color: brown;
}

h1 {
  text-align: center ;
  opacity: 80%;
  color: white;
}

nav {
  width: 100%;
  text-align: center;
}
nav li{
  margin: 0px 20px;
  display: inline;
  background-color: burlywood;
}


p {
  background: black;
  opacity: 80%;
}

div {
  opacity: 80%;
  color: white;
}

a {
  color: black;
}
